<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1077177653998-vadflkfhngq4qh0k2ev07ncns6bmn1ru.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1077177653998-vadflkfhngq4qh0k2ev07ncns6bmn1ru</string>
	<key>API_KEY</key>
	<string>AIzaSyCfVNBzXMps3Uw06AWMPS6JeOHxUfDNOT4</string>
	<key>GCM_SENDER_ID</key>
	<string>1077177653998</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>KrishnaTorrence.Artable</string>
	<key>PROJECT_ID</key>
	<string>artable-f38b1</string>
	<key>STORAGE_BUCKET</key>
	<string>artable-f38b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1077177653998:ios:6d40cfcf645e933e</string>
	<key>DATABASE_URL</key>
	<string>https://artable-f38b1.firebaseio.com</string>
</dict>
</plist>